@model Avansight.Web.Models.PatientChart
@{
    ViewData["Title"] = "Charts of Patients";
}

<div style="margin-top:5%">
    <h1>Charts of Patients</h1>


    <div id="patientDiv"></div>
    <div id="patientDivPie"></div>
</div>
